.about-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10rem;
}

.about {
  width: 50%;
}

.about h2 {
  font-size: 32px;
  color: #f5f5f5;
  line-height: 0.1;
  display: inline-block;
  position: relative;
}

.about h2:after {
  content: '';
  position: absolute;
  height: 5px;
  border-bottom: 0.2px solid #fc4177;
  top: 0;
  width: 325px;
}

.about h2:after {
  left: 100%;
  margin-left: 15px;
}

.about p {
  width: 85%;
  flex-wrap: wrap;
  color: #ccd6f5;
  font-size: 18px;
  line-height: 1.5;
}

.tech-lists {
  display: flex;
  color: #ccd6f5;
  margin-top: -1.5rem;
}

.about ul li::before {
  content: '\25B7';
  color: #fc4177;
  display: inline-block;
  width: 2rem;
  margin-left: -3.5rem;
}

.profile-picture {
  display: flex;
  justify-content: flex-end;
  margin-top: 6rem;
}

.profile-picture img {
  height: 300px;
  width: 300px;
  border: 5px solid white;
  border-radius: 3%;
}
