.main-about-container {
  height: 100vh;
  margin: 0 auto;
  padding: 5rem;
}

.about-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.about h2 {
  font-size: 32px;
  color: #f5f5f5;
  line-height: 0.1;
  display: inline-block;
}

.about h2:after {
  width: 200px;
  content: '';
  display: block;
  height: 1px;
  width: 300px;
  background-color: #fc4177;
  margin-left: 60%;
}

.about p {
  width: 85%;
  flex-wrap: wrap;
  color: #ccd6f5;
  font-size: 18px;
  line-height: 1.5;
}

.tech-lists {
  display: flex;
  color: #ccd6f5;
  margin-top: -1.5rem;
}

.about ul li::before {
  content: '\25B7';
  color: #fc4177;
  display: inline-block;
  width: 2rem;
}

.profile-picture {
  display: flex;
  justify-content: flex-end;
  margin-top: 6rem;
}

.profile-picture img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 2px solid white;
}

@media screen and (max-width: 800px) {
  .main-about-container {
    margin: 0 auto;
    padding-left: 5rem;
  }

  .about-container {
    flex-direction: column-reverse;
  }

  .profile-picture {
    display: none;
  }
}

@media screen and (max-width: 635px) {
  .main-about-container {
    margin: 0 auto;
    padding: 0rem;
  }

  .about p {
    width: 100%;
  }

  .about h2:after {
    display: none;
  }
}
