.header-container {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right, #f0065c, #ffd60b);
}

.header {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
  padding-left: 10rem;
  padding-top: 30vh;
}

.header-p {
  color: #ffffff;
  margin: 0;
  font-size: 20px;
}

.header-h1 {
  color: #ffffff;
  font-size: 80px;
  margin: 0;
}

.header-h2 {
  color: #ffffff;
  font-size: 80px;
  margin: 0;
}

.summary {
  margin-top: 30px;
  width: 50%;
  color: #ffffff;
  font-size: 24px;
}

@media screen and (max-width: 635px) {
  .header-container {
    margin: 0 auto;
    padding-left: 0rem;
    padding-top: 10rem;
    padding-bottom: 100px;
  }

  .summary {
    width: 100%;
  }
}
