.nav-items {
  display: flex;
  justify-content: flex-end;
  background-image: linear-gradient(to left, #f0065c, #ffd60b);
  position: fixed;
  width: 98%;
  top: -20px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 15px;
}

.container .nav-item {
  margin: 20px;
  color: #ffffff;
  top: 0;
  font-size: 14px;
}

.container a {
  text-decoration: none;
}

.container a:hover {
  cursor: pointer;
  color: #ffd60b;
}

@media screen and (max-width: 800px) {
  .nav-items {
    justify-content: center;
    width: 100%;
  }
  .container .nav-item {
    margin: 20px 10px;
  }
}

@media screen and (max-width: 635px) {
  .nav {
    justify-content: left;
  }
  .container {
    margin-left: -40px;
  }
}
