.nav {
  display: flex;
  justify-content: flex-end;
  padding-top: 2rem;
  background-color: #09192f;
  position: fixed;
  top: 0;
  width: 97%;
}

.container a {
  margin: 20px;
  color: #f64c72;
  top: 0;
  font-size: 14px;
}

.container a:hover {
  color: #f5f5f5;
}
