.nav {
  display: flex;
  justify-content: flex-end;
  padding-top: 2rem;
  background-color: #0a192e;
  position: fixed;
  top: 0;
  width: 97%;
}

.container a {
  margin: 20px;
  color: #fc4177;
  top: 0;
  font-size: 14px;
}

.container a:hover {
  color: #f5f5f5;
}
