.projects-container {
  height: 100vh;
  margin: 0 auto;
  padding: 5rem;
}

.project h2 {
  font-size: 32px;
  color: #f5f5f5;
  line-height: 0.1;
  display: inline-block;
}

.project h2:after {
  content: '';
  display: block;
  height: 1px;
  width: 280px;
  background-color: #fc4177;
  margin-left: 70%;
}

.key-project {
  display: flex;
}

.key-project h2 {
  color: white;
  margin-left: 1rem;
  margin-top: 2rem;
}

.key-project p {
  color: #ccd6f6;
  margin-left: 1rem;
  font-size: 18px;
  margin-bottom: 0;
}

.key-pic {
  display: flex;
  justify-content: flex-start;
  margin-top: 2rem;
}

.key-pic img {
  height: 346px;
  width: 172px;
  margin-right: 1rem;
}

.key-project ul li::before {
  content: '\25B7';
  color: #fc4177;
  display: inline-block;
  width: 2rem;
  margin-left: -2.5rem;
}
