.side-links {
  position: fixed;
  bottom: 0;
}

img {
  height: 25px;
  width: 25px;
}

ul {
  list-style: none;
}

li {
  margin: 20px;
}

.after {
  border-left: 1px solid #ccd6f5;
  height: 90px;
  width: 1px;
  margin-left: 70px;
}
