.unavailable-container {
  display: flex;
  justify-content: center;
}

.unavailable {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1285px) {
  .unavailable {
    flex-direction: column-reverse;
    text-align: center;
  }
}

@media screen and (max-width: 800px) {
  .unavailable-img img {
    display: none;
  }

  .button {
    margin-bottom: 20px;
  }
}

.unavailable-img img {
  height: 400px;
  width: 600px;
  margin-right: 50px;
}

.unavailable-text h1 {
  color: white;
}

.unavailable-text p {
  margin-left: 0;
  margin-bottom: 20px;
  color: #ccd6f5;
}
